{% extends 'base_template.html' %}
{% block 'body' %}
<h1>Все заявления</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Как давно?</th>
            <th>Номер</th>
            <th>Номер карточки</th>
            <th>Заявитель</th>
            <th>Задействованные службы</th>
            <th>Статус</th>
            <th>Описание</th>
        </tr>

        {% for appeal in object_list %}
        <tr>
            <td>{{appeal.id}}</td>
            <td>{{appeal.date|date:'d.m.Y H:i:s'}}</td>
            <td>{{appeal.date|timesince}}</td>
            <td>{{appeal.number}}</td>
            <td>{{appeal.card_number|default:'-'|default_if_none:'-'}}</td>
            <td>{{appeal.applicant}}</td>
            <td>{{appeal.services.all|default:'-'|default_if_none:'-'|join:', '|upper}}</td>
            <td>{{appeal.status}}</td>
            <td>{{appeal.description|default:'-'|default_if_none:'-'}}</td>
        </tr>
        {% endfor %}
    </table>

    <p><p>
        <h3>Среднее количество служб на обращение: {{avg_service_count|floatformat:0}}</h3><p/>
        <h3>Всего обращений: {{appeals|length}}</h3>
    </p>
{% endblock %}