{% extends 'base_template.html' %}

{% block 'body' %}
    <table>
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Пострадавшие</th>
            <th>Не звонить?</th>
            <th>Дата добавления</th>
            <th>Привлеченные службы</th>
        </tr>
        {% for acc in accidents %}
        <tr>
            <td>{{acc.id}}</td>
            <td>{{acc.number}}</td>
            <td>{{acc.injured_count}}</td>
            <td>{{acc.dont_call}}</td>
            <td>{{acc.addition_datetime}}</td>
            <td>
                <ul>
                    {% for svc in acc.services.all %}
                        <li>{{ svc }}</li>
                    {% empty %}
                        (службы не назначены)
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}