<h1>Поиск по заявителям</h1>
{% include 'base_filter.html' %}

<table> <!-- TODO: this is duplicate code from all_appeals.html -->
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Номер телефона</th>
            <th>Пол</th>
            <th>Состояние здоровья</th>
        </tr>
        {% for usr in filter.qs %}
            <tr>
                <td>{{usr.id}}</td>
                <td>{{usr.surname|default:'-'|default_if_none:'-'|title}}</td>
                <td>{{usr.first_name|default:'-'|default_if_none:'-'|title}}</td>
                <td>{{usr.patronymic_name|default:'-'|default_if_none:'-'|title}}</td>
                <td>{{usr.birth_date|default:'-'|default_if_none:'-'|date:'D j F Y'}}</td>
                <td>{{usr.phone_number|default:'-'|default_if_none:'-'}}</td>
                <td>{{usr.gender|default:'-'|default_if_none:'-'}}</td>
                <td>{{usr.health_state|default:'-'|default_if_none:'-'}}</td>
            </tr>
        {% endfor %}
    </table>
